/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.risk-low {
  color: #43a047;
  font-weight: bold;
}
.risk-medium {
  color: #e2c831;
  font-weight: bold;
}
.risk-high {
  color: #e53935;
  font-weight: bold;
}
